<div>
	<!-- <mat-toolbar color="primary">
		<span>MINIPROYECTOS ANGULAR</span>
		<span class="example-spacer"></span>
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with home icon"
			routerLink="/"
			routerLinkActive="active">
			<mat-icon
				aria-hidden="false"
				aria-label="Example home icon"
				fontIcon="home"
				>Inicio</mat-icon
			>
		</button>
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with person_pin icon">
			<mat-icon
				aria-hidden="false"
				aria-label="Example person_pin icon"
				fontIcon="person_pin">
				person_pin</mat-icon
			>
		</button>
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with feedback icon">
			<mat-icon
				aria-hidden="false"
				aria-label="Example feedback icon"
				fontIcon="feedback"
				>feedback</mat-icon
			>
		</button>
	</mat-toolbar> -->
	<main-nav-bar></main-nav-bar>
	<main-info></main-info>
	<main-cards-list></main-cards-list>
	<!-- 
	<div>
		<router-outlet></router-outlet>
	</div> -->
</div>
