<mat-card
	[ngStyle]="{
		maxWidth: '300px',
		alignItems: 'center',
		textAlign: 'center',
		color: 'white'
	}">
	<mat-card-header>
		<mat-card-title>{{ title }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-divider [ngStyle]="{ marginBottom: '10px' }"></mat-divider>
		<p>{{ description }}</p>
		<mat-divider></mat-divider>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" [routerLink]="link">
			ENTRAR
		</button>
	</mat-card-actions>
</mat-card>
