/*ESTILOS NUEVOS*/
.size-card {
	max-width: 400px;
	align-items: center;
	min-height: 400px;
}

mat-card-title {
	color: #7b1f88ff;
	font-size: 100px;
	margin: 60px 0;
}

button {
	background-color: #606060ff;
	margin: 5px;
}

mat-card-content {
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
}

.cero {
	color: white;
}

.min {
	color: #1cffffff;
}

.max {
	color: #ffa000ff;
}

.par {
	color: #ffff2cff;
}

.impar {
	color: #6500ffff;
}

.continue {
	color: greenyellow;
}
