<div>
	<mat-toolbar>
		<p>holaaa</p>
	</mat-toolbar>
	<div>
		<form (submit)="onSubmit($event)">
			<input type="text" id="input-name" value="" (change)="onChange($event)" placeholder="Inserta un nombre" />
			<input type="submit" name="Enviar"/>
		</form>
		<h1>Usuarios Activos</h1>
		<ul *ngFor="let user of users">
			<app-user
				*ngIf="user.active"
				[name]="user.name"
				[status]="user.active"
			>
			</app-user>
		</ul>
	</div>
	<div>
		<h1>Usuarios Inactivos</h1>
		<ul *ngFor="let user of users">
			<app-user
				*ngIf="!user.active"
				[name]="user.name"
				[status]="user.active"
			>
			</app-user>
		</ul>
	</div>
</div>
